
// @font-face {
//   font-family: "Cintype";
//   src: url("./fonts/GT-Cinetype-Regular-Trial.otf") format("otf");
//   // src: url("./fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/haymaker-webfont.woff") format("woff"), url("./fonts/haymaker-webfont.ttf") format("truetype"), url("./fonts/haymaker-webfont.svg#haymakerregular") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Cintype';
//   src: url('./fonts/GT-Cinetype-Regular-Trial.otf');
//   // src: url('./fonts/blanch_caps_inline-webfont.eot?#iefix') format('embedded-opentype'),
//   //      url('./fonts/blanch_caps_inline-webfont.woff') format('woff'),
//   //      url('./fonts/blanch_caps_inline-webfont.ttf') format('truetype'),
//   //      url('./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
    font-family: 'GT Cinetype Trial Rg It';
    src: url('/fonts/GTCinetypeTrial-RgIt.woff2') format('woff2'),
        url('/fonts/GTCinetypeTrial-RgIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Cinetype Trial Lt It';
    src: url('/fonts/GTCinetypeTrial-LtIt.woff2') format('woff2'),
        url('/fonts/GTCinetypeTrial-LtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GT Cinetype Trial Bd';
    src: url('/fonts/GTCinetypeTrial-Bd.woff2') format('woff2'),
        url('/fonts/GTCinetypeTrial-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Cinetype Trial Mono';
    src: url('/fonts/GTCinetypeTrial-Mono.woff2') format('woff2'),
        url('/fonts/GTCinetypeTrial-Mono.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Cinetype Trial Lt';
    src: url('/fonts/GTCinetypeTrial-Lt.woff2') format('woff2'),
        url('/fonts/GTCinetypeTrial-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Cinetype Trial Rg';
    src: url('/fonts/GTCinetypeTrial-Rg.woff2') format('woff2'),
        url('/fonts/GTCinetypeTrial-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Cinetype Trial Bd It';
    src: url('/fonts/GTCinetypeTrial-BdIt.woff2') format('woff2'),
        url('/fonts/GTCinetypeTrial-BdIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

