.order-enter {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-height: 0;
  padding: 0 !important;
}
.order-enter.order-enter-active {
  max-height: 60px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding: 2rem 0 !important;
}
.order-exit {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.order-exit.order-exit-active {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  padding: 0;
}
.count-enter {
  background: #f00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.count-enter.count-enter-active {
  background: #ff0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.count-exit {
  background: #000;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  left: 0;
  bottom: 0;
}
.count-exit.count-exit-active {
  background: #008000;
  -webkit-transform: translateY(-100%) scale(3);
          transform: translateY(-100%) scale(3);
}
@font-face {
  font-family: 'GT Cinetype Trial Rg It';
  src: url("/fonts/GTCinetypeTrial-RgIt.woff2") format('woff2'), url("/fonts/GTCinetypeTrial-RgIt.woff") format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT Cinetype Trial Lt It';
  src: url("/fonts/GTCinetypeTrial-LtIt.woff2") format('woff2'), url("/fonts/GTCinetypeTrial-LtIt.woff") format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'GT Cinetype Trial Bd';
  src: url("/fonts/GTCinetypeTrial-Bd.woff2") format('woff2'), url("/fonts/GTCinetypeTrial-Bd.woff") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Cinetype Trial Mono';
  src: url("/fonts/GTCinetypeTrial-Mono.woff2") format('woff2'), url("/fonts/GTCinetypeTrial-Mono.woff") format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Cinetype Trial Lt';
  src: url("/fonts/GTCinetypeTrial-Lt.woff2") format('woff2'), url("/fonts/GTCinetypeTrial-Lt.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Cinetype Trial Rg';
  src: url("/fonts/GTCinetypeTrial-Rg.woff2") format('woff2'), url("/fonts/GTCinetypeTrial-Rg.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GT Cinetype Trial Bd It';
  src: url("/fonts/GTCinetypeTrial-BdIt.woff2") format('woff2'), url("/fonts/GTCinetypeTrial-BdIt.woff") format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: #d4d4d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'GT Cinetype Trial Rg', sans-serif;
  font-size: 2rem;
}
h2,
h3,
h4,
h5,
h6,
p,
h1,
button,
button.editBtn,
input {
  font-weight: normal;
  font-family: 'GT Cinetype Trial Rg', sans-serif;
}
h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3rem;
}
.large-text,
header.top .search::-webkit-input-placeholder {
  font-size: 30px;
}
.large-text,
header.top .search:-ms-input-placeholder {
  font-size: 30px;
}
.large-text,
header.top .search::placeholder {
  font-size: 30px;
}
.med-text {
  font-size: 50px;
}
.small-text {
  font-size: 14px;
}
body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
header.top {
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: flex;
  top: 0;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  z-index: 999;
  background-color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
header.top .search {
  position: relative;
  padding-left: 20px;
  height: 100%;
  width: 70%;
  z-index: 999;
  outline: none;
  border: none;
  align-content: left;
}
header.top .search::-webkit-input-placeholder {
  color: #000;
}
header.top .search:-ms-input-placeholder {
  color: #000;
}
header.top .search::placeholder {
  color: #000;
}
header.top .search:focus {
  border-color: #fff;
}
header.top h1 {
  font-size: 14.4rem;
  line-height: 0.7;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}
header.top h1 .ofThe {
  display: -webkit-box;
  display: flex;
  font-size: 3rem;
  color: #f5a623;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: url("images/anchor.svg") center no-repeat;
  background-size: cover;
  padding: 0 1rem;
}
header.top h1 .ofThe .of {
  padding-right: 2rem;
  position: relative;
  right: -0.5rem;
}
header.top h3 {
  margin: 0;
  font-size: 2rem;
  color: #f5a623;
  position: relative;
  display: inline-block;
}
header.top h3 span {
  background: #fff;
  position: relative;
  z-index: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}
header.top h3:before,
header.top h3:after {
  display: block;
  z-index: 1;
  background: #000;
  position: absolute;
  width: 130%;
  height: 1px;
  content: '';
  top: 5px;
  margin-left: -15%;
}
header.top h3:after {
  top: auto;
  bottom: 7px;
}
.catch-of-the-day {
  display: -webkit-box;
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.catch-of-the-day .menu {
  position: relative;
  padding: 0;
}
.catch-of-the-day .menu button,
.catch-of-the-day .menu.editBtn {
  padding-right: 20px;
  right: 0;
  top: auto;
  bottom: auto;
  border: none;
}
.catch-of-the-day .menu .inventory .fishes .menu-fish figure {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 65.5%;
}
.catch-of-the-day .menu .inventory .fishes .menu-fish input {
  backround-color: transparent;
  border: none;
  width: 100%;
}
.catch-of-the-day .menu .inventory .fishes .menu-fish input.item-title {
  font-weight: normal;
  font-size: 3rem;
}
.catch-of-the-day .menu .inventory .fishes .menu-fish .form-details .name-and-price input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish display flex .name-and-price input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish flex-direction column .name-and-price input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish justify-content space-between .name-and-price input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish .form-details width 100% input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish display flex width 100% input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish flex-direction column width 100% input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish justify-content space-between width 100% input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish .form-details display flex input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish display flex display flex input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish flex-direction column display flex input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish justify-content space-between display flex input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish .form-details flex-direction row input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish display flex flex-direction row input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish flex-direction column flex-direction row input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish justify-content space-between flex-direction row input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish .form-details justify-content space-between input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish display flex justify-content space-between input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish flex-direction column justify-content space-between input.item-name,
.catch-of-the-day .menu .inventory .fishes .menu-fish justify-content space-between justify-content space-between input.item-name {
  background-color: #d12028;
}
.catch-of-the-day > * {
  padding: 2rem;
  border: 1px solid #1a1a1a;
  position: relative;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  overflow: scroll;
}
.catch-of-the-day > *:first-child {
  width: 20%;
}
.catch-of-the-day > *:first-child:hover {
  width: 40%;
}
.catch-of-the-day > *:nth-child(2) {
  border-left: 0;
  border-right: 0;
  width: 60%;
}
.catch-of-the-day > *:last-child {
  width: 20%;
}
.catch-of-the-day .categories {
  padding-top: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.catch-of-the-day .categories .cat-title {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 20px;
}
.catch-of-the-day .categories h1 {
  padding: 0;
  font-size: 5vw;
  line-height: 0;
}
input#fold:not(:checked) ~ #main .catch-of-the-day > * {
  -webkit-transform: none;
          transform: none;
}
label[for="fold"] {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  background: #000;
  color: #fff;
  border: 2px solid #000;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
input#fold {
  display: none;
}
input#fold:checked + label {
  background: #fff;
  color: #000;
}
.fishes {
  display: -webkit-box;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.order-wrap h2 {
  text-align: left;
}
ul.order {
  position: relative;
  width: 100%;
}
ul.order li {
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
}
ul.order li .cart-item-img {
  width: 100px;
  height: 100px;
}
ul.order li .cart-item-details {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: 25px;
}
ul.order li h2 {
  padding: 0;
  margin: 0;
  fint-size: 18px;
  line-height: 30px;
}
ul.order li h3 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
ul.order li button.close_btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  line-height: 1;
  padding-top: 20px;
  display: block;
}
ul.order li button.close_btn:hover {
  color: #000;
}
ul.order li button.close_btn:after {
  display: none;
}
ul.order li.unavailable {
  text-decoration: line-through;
  background: #f8d0d2;
}
ul.order li .price {
  font-size: 1.2rem;
}
ul.order li span.count {
  position: relative;
  overflow: hidden;
  float: left;
}
ul.order li span.count span {
  display: inline-block;
}
.total {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 2rem 0;
  font-size: 1.4rem;
  border-bottom: 1px solid #bcbcbc;
  border-top: 1px solid #bcbcbc;
}
.total strong {
  float: right;
}
.order-title {
  text-align: center;
}
.fish-edit {
  margin-bottom: 20px;
  border: 2px solid #000;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.fish-edit input,
.fish-edit textarea,
.fish-edit select {
  width: 100%;
  padding: 100px;
  line-height: 1;
  font-size: 1.2rem;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background: #fff;
}
.fish-edit input:focus,
.fish-edit textarea:focus,
.fish-edit select:focus {
  outline: 0;
  background: #fef2de;
}
.fish-edit textarea {
  width: 100%;
}
.fish-edit input:last-of-type {
  width: 100%;
}
.fish-edit button {
  width: 100%;
  border: 0;
}
.list-of-fish {
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  padding-top: 5px;
  margin-top: 2rem;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.menu-fish {
  width: 50%;
  padding: 2rem;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
}
.menu-fish p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
.menu-fish .fish-name {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  font-weight: 600;
}
.menu-fish .price {
  font-size: 18px;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.menu-fish .edit_image {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
}
.menu-fish button {
  padding: 0;
  margin-top: 10px;
  background: none;
  font-weight: 600;
  border: none;
  font-size: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}
button,
input[type=submit] {
  background: none;
  border: 1px solid #000;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}
button[disabled],
input[type=submit][disabled] {
  color: #888;
  background: #fff;
  border-color: #d12028;
}
button[disabled]:hover,
input[type=submit][disabled]:hover {
  color: #d12028;
  cursor: not-allowed;
}
button[disabled]:after,
input[type=submit][disabled]:after {
  display: none;
}
button:after,
input[type=submit]:after {
  content: '';
  z-index: -1;
  display: block;
  background: #000;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover,
input[type=submit]:hover,
button:focus,
input[type=submit]:focus {
  color: #fff;
  outline: 0;
}
button:hover:after,
input[type=submit]:hover:after,
button:focus:after,
input[type=submit]:focus:after {
  height: 100%;
}
button.warning:after,
input[type=submit].warning:after {
  background: #d12028;
}
button.success:after,
input[type=submit].success:after {
  background: #2dc22d;
}
button.github,
input[type=submit].github,
button.facebook,
input[type=submit].facebook,
button.twitter,
input[type=submit].twitter {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  padding: 2rem;
}
button.github,
input[type=submit].github {
  background: #82d465;
}
button.github:after,
input[type=submit].github:after {
  background: #5cc437;
}
button.facebook,
input[type=submit].facebook {
  background: #3864a3;
}
button.facebook:after,
input[type=submit].facebook:after {
  background: #2d5082;
}
button.twitter,
input[type=submit].twitter {
  background: #5ea9dd;
}
button.twitter:after,
input[type=submit].twitter:after {
  background: #2c8dd0;
}
button.add-to-cart,
input[type=submit].add-to-cart {
  margin-top: 50px;
}
.store-selector {
  background: #fff;
  max-width: 500px;
  margin: 50px auto;
  padding: 2rem;
  border: 2px solid #000;
}
.store-selector input,
.store-selector button {
  width: 100%;
}
.store-selector input[type="text"],
.store-selector button[type="text"] {
  text-align: center;
  font-size: 3rem;
}
