// Import all partials
@require './_*.styl'

body
  display flex
  align-items center
  justify-content center
  // overflow hidden



header.top
  height 70px
  //position fixed
  position sticky
  display flex
  top 0
  justify-content space-between
  //width 60%
  padding 0
  margin 0
  z-index 999
  background-color #ffffff
  border-top 1px solid #000000
  border-bottom 1px solid #000000
  //transform translateX(-20px)


  .search
    position relative
    padding-left 20px
    height 100%
    // width calc(50% - 50px)
    width 70%
    z-index 999
    outline none    
    border none
    align-content left

    &::placeholder
      @extend .large-text
      color #000000

    &:focus
      border-color #FFFFFF
      


  

  h1
    font-size 14.4rem
    line-height 0.7 // this font has a wacky baseline
    display flex
    justify-content: center;

    // This is a bunch of goofy CSS to make the logo look decent
    .ofThe
      display flex
      font-size 3rem
      color orange
      justify-content: center;
      align-items: center;
      background url('images/anchor.svg') center no-repeat;
      background-size cover
      padding 0 1rem
      .of
        padding-right 2rem
        position relative
        right -0.5rem
  h3
    margin 0
    font-size 2rem
    color orange
    position relative
    display inline-block
    span
      background white
      position relative
      z-index 2
      padding-left 1rem
      padding-right 1rem
    &:before, &:after
      display block
      z-index 1
      background black
      position absolute
      width 130%
      height 1px
      content ''
      top 5px
      margin-left -15%
    &:after
      top auto
      bottom 7px

.catch-of-the-day
  display flex
  height 100vh
  width 100vw
  // max-width:1500px
  margin 0 auto
  // margin 5vh
  perspective: 1000px;
  transform-style preserve-3d
  & > *
    padding 2rem
    border 1px solid lighten(black,10%)
    position relative
    background white
    transition all 0.3s
    box-shadow 0 5px 5px rgba(0,0,0,0.1)
    overflow scroll
    &:first-child
      width 20%
      &:hover
        width 40%

    &:nth-child(2)
      border-left 0
      border-right 0
      width 60%

    &:last-child
      width 20%
      // min-width 400px

   .categories
      padding-top 100px
      display flex
      flex-direction column
      // justify-content center

      .cat-title
        position fixed
        top 0
        left 0
        padding-top 20px
        padding-left 20px
        // font-size 40px
        // line-height 40px
      
      h1
        padding 0
        font-size 5vw
        line-height 0

  .categories
    .logo
       width 100px

  .menu
    position relative
    padding 0
    button
    &.editBtn
      // position absolute
      padding-right 20px
      right 0
      top auto
      bottom auto
      border none

    .inventory
      .fish-edit
        input
          &.fe-name
            padding 0

label[for="fold"]
  position absolute
  top 1rem
  left 1rem
  text-transform uppercase
  font-size 1.3rem
  background black
  color white
  border 2px solid black
  cursor pointer
  padding 0.5rem 1rem

input#fold
  display none
  &:checked + label
    background white
    color black


.fishes
  display flex
  position relative
  flex-wrap wrap
  flex-direction row

.fishes.products
  li
    figure
      width 100%
      height 35vw
      background-repeat no-repeat
      background-size cover
      background-position center
      margin-right 1rem
    
    .fish-name
      font-size 18px

.fishes.editing
  li
    position relative

    input,textarea,select
      outline none    
      border none

    figure
      width 100%
      height 35vw
      background-repeat no-repeat
      background-size cover
      background-position center
      margin-right 1rem

      input
        border none
        width 100%
        &.item-title
          font-weight normal
          font-size 3rem
      
    .form-details
      display flex
      position relative
      width 100%
      flex-direction row
      justify-content space-between
      
      .item-name
        font-size 18px
        font-weight 600

      .price
        font-size 14px

ul
  list-style none
  margin 0
  padding 0

.order-wrap
  h2
    text-align left 
ul.order
  // Default state
  position relative
  width 100%

  li
    width 100%
    // border-bottom 1px solid black
    padding 2rem 0
    display flex
    font-size 1.4rem
    justify-content flex-start
    align-items center
    position relative
    .cart-item-img
      width 100px
      height 100px
    .cart-item-details
      width 100%
      display flex
      flex-direction column
      align-items flex-start  
      justify-content center
      margin-left 25px

    h2
      padding 0
      margin 0
      fint-size 18px
      line-height 30px
    h3
      padding 0
      margin 0
      font-size 14px
      line-height 20px

      
    button.close_btn
      position absolute 
      top 0
      right 0
      border 0
      //display none
      line-height 1
      padding-top 20px
      display block
      &:hover
        color black
      &:after 
        display none

    &.unavailable
      text-decoration line-through
      background lighten(red, 80%)



    span.count
      position relative
      overflow hidden
      float left // only works if it's floated?!
      span
        display inline-block
        // transition all 0.5s
.total
  display flex
  justify-content center
  padding 2rem 0
  font-size 1.4rem
  border-bottom 1px solid #BCBCBC
  border-top 1px solid #BCBCBC
  & strong
    float: right

.order-title
  text-align center

// Menu Styles
.list-of-fish
  border-top 2px solid black
  border-bottom 1px solid black
  padding-top 5px
  margin-top 2rem
  transform translateZ(0);

.menu-fish
  width 50%
  padding 2rem
  margin-bottom 5px
  clear both
  overflow hidden

  p
    margin 0
    font-size 14px
    line-height 20px

  .fish-name
    // margin-down 3px
    display flex
    justify-content space-between
    align-items center
    font-weight 600
    
  .price
    font-size 18px
    // color orange
    justify-content flex-end
    // font-family 'Open Sans Condensed'
  
  button
    // &.add-to-cart
    padding 0
    margin-top 10px
    // text-transform uppercase
    background none
    font-weight 600
    border none
    font-size 14px
    // font-family 'Open Sans', sans-serif
    transition all 0.2s
    position relative
    z-index 2




button, input[type=submit]
  // text-transform uppercase
  background none
  border 1px solid black
  font-weight 600
  font-size 1.5rem
  font-family 'Open Sans', sans-serif
  transition all 0.2s
  position relative
  z-index 2
  &[disabled]
    color #888888
    background white
    border-color red
    // transform rotate(-10deg) scale(2) translateX(50%) translateY(-50%)
    &:hover
      color red
      cursor not-allowed
    &:after
      display none
  &:after
    content ''
    z-index -1
    display block
    background black
    position absolute
    width 100%
    height 0
    left 0
    top 0
    transition all 0.2s
  &:hover, &:focus
    color white
    outline 0
    &:after
      height 100%
  // variants
  &.warning
    &:after
      background red
  &.success
    &:after
      background green

  &.github, &.facebook, &.twitter
    border 0
    display block
    margin-bottom 2rem
    width 50%
    color white
    padding 2rem

  &.github
    background #000000
    &:after
      background darken(#82D465, 20%)

  &.facebook
    background #3864A3
    &:after
      background darken(#3864A3, 20%)

  &.twitter
    background #5EA9DD
    &:after
      background darken(#5EA9DD, 20%)
  &.add-to-cart
    margin-top 50px



// Store Selector
.store-selector
  background white
  max-width 500px
  margin 50px auto
  padding 2rem
  border 2px solid black
  input, button
    width 100%
    &[type="text"]
      text-align center
      font-size 3rem

